<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  
      <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=localhost;Initial Catalog=RentHere;Integrated Security=True;" />
  </connectionStrings>
  
    
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>


<appSettings>  
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StripeApiKey" value="sk_test_tKEjRtqXNztogiBfA2MAfRJl" />
  </appSettings>

  

</configuration>
